name: Update README with Recent Activity

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: gautamkrishnar/github-activity-readme@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          commit_message: 'chore: update recent activity'
          committer_name: 'github-activity-bot'
          committer_email: 'bot@github.com'
          readme_between: ""
          readme_end_between: ""
          max_lines: 5
